@import '../../sass/flex.scss';
@import '../../sass/layouts';
@import '../../sass/colors';

.centeredContent{
  @include flex-center-center;
  padding: 10rem 1rem;
  &-inner{
    @include layouts-centered-content;
    &-introduction{
      color: $colorSubtitle;
    }
    &-title{
      color: $colorTitle
    }
    &-content{
      color: $colorContent
    }
  }
}
