@import './colors';
@import './fonts';

@mixin button {
  @include button-primary;
  @include button-large;
}

@mixin button-large {
  padding: 16px 30px 16px;
}

@mixin button-medium {
	padding:16px 30px 14px;
	border-width: 3px
}

@mixin button-small {
	padding: 15px 30px 11px;
	border-width: 2px
}

@mixin button-primary {
	background: $colorBackground;
	border-color: $colorBackground;
  color: invert($color: $colorBackground);
  transition: ease-out 200ms;
  font-family: $fontPrimaryBold;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0.275rem;

	&:hover,
	&:focus {
		background: $colorSelected;
		border-color: $colorSelected;
		color: invert($color: $colorSelected);
	}

	&:active {
		background: $colorSelected;
		border-color: $colorSelected;
		color: invert($color: $colorSelected);
	}

	&:disabled {
		opacity: 0.3;
	}
}


@mixin button-hollow-black {
	background: transparent;
	border-color: $colorBlack;
	color: $colorBlack;
	border-width: 2;

	&:hover {
		background: $colorBlack;
		border-color: $colorBlack;
		color: $colorWhite;
	}

	&:disabled {
		opacity: 0.3;
	}
}

@mixin button-solid-black {
	background: $colorBlack;
	border-color: $colorBlack;
	color: $colorWhite;
	border-width: 2;

	&:hover {
		background: transparent;
		border-color: $colorBlack;
		color: $colorBlack;
	}

	&:disabled {
		opacity: 0.3;
	}
}

@mixin button-solid-grey {
	background: $colorGray;
	border-color: $colorGray;
	color: $colorBlack;
	border-width: 2;

	&:hover {
		background: transparent;
		border-color: $colorBlack;
		color: $colorBlack;
	}

	&:disabled {
		opacity: 0.3;
	}
}

@mixin button-hollow-white {
	background: transparent;
	border-color: $colorWhite;
	color: $colorWhite;
	border-width: 2;

	&:hover {
		background: $colorWhite;
		border-color: $colorWhite;
		color: $colorBlack;
	}

	&:disabled {
		opacity: 0.3;
	}
}

@mixin button-hollow-gold {
	background: transparent;
	border-color: $colorSecondary;
	color: $colorSecondary;
	border-width: 2;

	&:hover {
		background: $colorSecondary;
		border-color: $colorSecondary;
		color: $colorWhite;
	}

	&:disabled {
		opacity: 0.3;
	}
}

@mixin button-icon {
	position: relative;
	padding: 18 30 18 60;

	.icon-svg {
		position: absolute;
		top: 50%;
		left: 20;
		transform: translateY(-60%);
		fill: $colorWhite;

		transition: ease-out;
	}

	&:hover .icon-svg,
	&:focus .icon-svg {
		fill: $colorBlack;
	}
}
