// flex X axis - Y axis

@mixin flex-stretch {
	display: flex;
  align-items: stretch;
  flex: 1 1 0%;
}

@mixin flex-columns {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
}

@mixin flex-start-start {
	display: flex;
	justify-content: flex-start;
  align-items: flex-start;
  flex: 1 1 0%;
}

@mixin flex-start-end {
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
  flex: 1 1 0%;
}

@mixin flex-end-center {
	display: flex;
	justify-content: flex-end;
	align-items: center;
  flex: 1 1 0%;
}

@mixin flex-end-space-between {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	flex-direction: row;
  flex: 1 1 0%;
}

@mixin flex-start-center {
	display: flex;
	justify-content: flex-start;
	align-items: center;
  flex: 1 1 0%;
}

@mixin flex-center-space-around {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction: row;
  flex: 1 1 0%;
}

@mixin flex-start-space-between {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	flex-direction: row;
  flex: 1 1 0%;
}

@mixin flex-center-space-between {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
  flex: 1 1 0%;
}

@mixin flex-center-center {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
  flex: 1 1 0%;
}

@mixin flex-center-start{
	display: flex;
	justify-content: center;
	align-items: flex-start;
  flex: 1 1 0%;
}

@mixin flex-center-end{
	display: flex;
	justify-content: center;
	align-items: flex-end;
  flex: 1 1 0%;
}