//Primary Fonts
$fontPrimaryLight: 'Brandon Light';
$fontPrimaryReg: 'Brandon Regular';
$fontPrimaryBold: 'Brandon Black';

//Secondary Fonts
$fontSecondaryBold: 'Moderat Bold';

//Special Font
$fontSpecialReg:'Calling Code';
