@import './colors';
@import './fonts';
@import './responsive';

@mixin headings-h1 {
  font-family: $fontPrimaryBold;
  font-size: 2.875rem;
  line-height: 1.2;
  letter-spacing: 7px;
  text-transform: uppercase;
  text-decoration: none;
  @media #{$mediaLarge} {
    font-size: 4rem;
  }
}

@mixin heading-h2 {
  font-family: $fontPrimaryBold;
  font-size: 2.275rem;
  line-height: 1.4;
  letter-spacing: 6px;
  text-transform: uppercase;
  @media #{$mediaLarge} {
    font-size: 3.875rem;
  }
}

@mixin heading-h3 {
  font-family: $fontPrimaryBold;
  font-size: 1.875rem;
  line-height: 1.5;
  letter-spacing: 4px;
  text-transform: uppercase;
  @media #{$mediaLarge} {
    font-size: 3.275rem;
  }
}

@mixin heading-h4 {
  font-family: $fontPrimaryBold;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 2px;
  text-transform: uppercase;
  @media #{$mediaLarge} {
    font-size: 2.275rem;
  }
}

@mixin heading-h5 {
  font-family: $fontPrimaryBold;
  font-size: .875rem;
  line-height: 1.7;
  letter-spacing: 2px;
  text-transform: uppercase;
  @media #{$mediaLarge} {
    font-size: 2rem;
  }
}

@mixin heading-h6 {
  font-family: $fontPrimaryBold;
  font-size: .60rem;
  line-height: 1.5;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin: 3rem 0 0;
  color: $colorSubtitle;
  @media #{$mediaLarge} {
    font-size: 1.275rem;
  }
}

@mixin heading-underline {
  position: relative;
  &:before{
    content:'';
    position: absolute;
    bottom: --10px;
    left: 0px;
    width: 48px;
    height: 6px;
    background: $colorPrimary;
  }
}

@mixin heading-menu-link {
  font-size: 1rem;
  letter-spacing: 3px;
  font-family: $fontPrimaryBold;
  text-transform: uppercase;
}
