@import '../../sass/index';

.featuredContent{
  @include flex-center-center;
  @include flex-stretch;
  padding: 0 0 4rem;
  position: relative;
  &-column{
    width: 100%;
    max-width: 41rem;
    height: 38rem;
    will-change: transform;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    &.--first{
      transform: translate3d(3rem,4rem,0);
    }
    &.--second{
      transform: translate3d(-3rem,0,0);
    }
    &.--sectionImage{
      @include flex-center-center;
      @include flex-stretch;
      overflow: hidden;
      z-index: 10;
      &>.--image{
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;
        -ms-flex: 1 1 0%;
        flex: 1 1 0%;
        will-change: transform;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        transform: scale(1) translateZ(0);
        transition: transform 1s ease;
      }
    }
    &.--card{
      @include flex-start-start;
      @include flex-stretch;
      z-index: 20;
    }
    &-link{
      @include flex-center-center;
      @include flex-stretch;
      @include flex-columns;
      box-sizing: border-box;
      width: 100%;
    }
    &-content{
      @include flex-center-center;
      @include flex-columns;
      padding: 0 2rem;
      text-align: center;
      background: $colorBackground;
      &-subtitle{
        @include heading-h6;
      }
      &-title{
        @include heading-h3;
        color: $colorTitle
      }
    }
    &-imageContainer{
      @include flex-start-start;
      @include flex-stretch;
      &-image{
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;
        flex: 1 1 0%;
        transform: scale(1) translateZ(0);
        transition: transform 1s ease
      }
    }
  }
}

@media #{$mediaSmall}{
  .featuredContent-column{
    @include flex-center-center;
    &.--card{
      transform: none;
      padding: 0rem 1rem;
    }
    &-link{
      border: $colorBackground 1px solid;
    }
    transform: none;
    &.--sectionImage{
      display: none;
    }
  }
}