@font-face {
	font-family: 'Roman';
	src: url('~/assets/fonts/Roman-SD.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Zeyada';
	src: url('~/assets/fonts/Zeyada-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
}

@font-face {
    font-family: 'Pirata One';
    src: url('~/assets/fonts/PirataOne-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}