@font-face{
  font-family: 'Moderat Bold';
  src: url('./Moderat\ Bold.otf') format('opentype');
}

@font-face{
  font-family: 'Brandon Black';
  src: url('./Brandon_blk.otf') format('opentype');
}

@font-face{
  font-family: 'Brandon Regular';
  src: url('./Brandon_reg.otf') format('opentype');
}

@font-face{
  font-family: 'Brandon Light';
  src: url('./Brandon_light.otf') format('opentype');
}

@font-face{
  font-family: 'Calling Code';
  src: url('./CallingCode-Regular.otf') format('opentype');
}