@import '../colors';

/* width */
::-webkit-scrollbar {
  width: 1vw;
}

/* Track */
::-webkit-scrollbar-track {
  background: $colorBackground
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $colorTitle
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $colorSelected
}
