@import '../../sass/index';

.featuredArticles{
  @include flex-start-center;
  @include flex-columns;
  padding: 3rem 1rem 8rem 1rem;
  &.--afterBumper{
    &:after{
      height: 23rem;
    }
  }
  &-inner{
    &-title{
      padding: 0 1rem;
      color: $colorTitle
    }
  }
  &-list{
    @include flex-center-start;
    @include flex-stretch;
    flex-wrap: wrap;
    width: 100%;
    max-width: 76rem;
    &-item{
      @include flex-stretch;
      min-width: 23rem;
      max-width: 23rem;
      margin: 3rem 0 0;
      padding: 0 1rem;
    }
  }
}

